<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Loan</title>
    <link rel="stylesheet" href="add-loan.css">
</head>
<body>
    <!-- Header com Logo -->
    <header class="header">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 19H20V5H4z"></path>
                <path d="M12 2L17 6 7 6 12 2z"></path>
                <path d="M4 22h16"></path>
                <path d="M12 6v15"></path>
            </svg>
            <h1>Library</h1>
        </div>
        <button id="backButton" class="back-button">Back</button>
    </header>

    <!-- Conteúdo Principal -->
    <main class="loan-list">
        <div class="modal-content">
            <h2>Add Loan</h2>
            <form class="add-loan-form" id="addLoanForm">
                <label for="left">Left Date:</label>
                <input type="date" id="left" name="left" required>
                <label for="return">Return Date:</label>
                <input type="date" id="return" name="return" required>
                <label for="userId">User Id:</label>
                <input type="text" id="userId" name="userId" required>
                <label for="bookId">Book Id:</label>
                <input type="text" id="bookId" name="bookId" required>
                <button type="submit">OK</button>
            </form>
        </div>
    </main>
    <script src="add-loan.js"></script>
</body>
</html>
