<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan List</title>
    <link rel="stylesheet" href="loan-list.css">
</head>
<body>
    <!-- Header com Logo -->
    <header class="header">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 19H20V5H4z"></path>
                <path d="M12 2L17 6 7 6 12 2z"></path>
                <path d="M4 22h16"></path>
                <path d="M12 6v15"></path>
            </svg>
            <h1>Library</h1>
        </div>
        <button id="backButton" class="back-button">Back</button>
    </header>

    <!-- Conteúdo Principal -->
    <main class="book-list">
        <h2>Loan List</h2>
        <table id="booksTable">
            <thead>
                <tr>
                    <th>Loan ID</th>
                    <th>Left</th>
                    <th>Return</th>
                    <th>User ID</th>
                    <th>Book ID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="booksBody">
            </tbody>
        </table>
        <div id="updateBookModal" class="modal hidden-modal">
            <div class="modal-content">
                <span id="closeModal" class="close-button">&times;</span>
                <h2>Update Loan</h2>
                <form class="add-book-form" id="addBookForm">
                    <label for="left">Left Date:</label>
                <input type="date" id="left" name="left" required>
                <label for="return">Return Date:</label>
                <input type="date" id="return" name="return" required>
                <button type="submit">OK</button>
                </form>
            </div>
        </div>
    </main>
    <script src="loan-list.js"></script>
</body>
</html>
